/* Main left hand content CSS file */

/* container for the left hand content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* main attributes for content within the main container */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* section ids */
#search-engine-optimization {
    
}

#online-reputation-management {
    
}

#social-media-marketing {
    
}
/* <-----------------------------> */


/* img attributes for each section */
#search-engine-optimization img {
    max-height: 200px;
}

#online-reputation-management img {
    max-height: 200px;
}

#social-media-marketing img {
    max-height: 200px;
}
/* <------------------------------> */


/* section h2 attributes */
#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* <------------------------------> */